<!DOCTYPE html>
<html>
    <head>
    <script src='https://8x8.vc/vpaas-magic-cookie-16adeb346a2f47589db75f5c97b524fb/external_api.js' async></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link rel="stylesheet" href="/public/css/meetingroom.css">
    <script src="https://kit.fontawesome.com/ba52fcc0fa.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/public/javascript/meetingroom.js"></script>
    </head>
    <body>
        <div class="loading-info-container lic-open" id="loading-info-container">
            <span id="roomname-value" hidden><%= roomname %></span>
            <h2 id="loading-info-msg-h">Verificando información del usuario...</h2>
            <p id="loading-info-msg-b" hidden></p>
        </div>
        <div id="jaas-container" />
    </body>
</html>